<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>IMCT_DEMO</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-priva">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h3 class="text-light">Priva Inotech</h3>
      </a>

    </div>
  </nav>
  <div class="container py-4">
    <div class="row">


      <div class="col-12">
        <div class="card shadow p-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-3 mb-3 mb-xl-0">
                <div class="box mb-3">
                  <div>
                    <div class="mb-3">
                      <label for="input_mean" class="form-label form-label-sm">Mean</label>
                      <input type="number" class="form-control form-control-sm" id="input_mean" value="120">
                    </div>

                    <div class="mb-3">
                      <label for="input_sd" class="form-label form-label-sm">Standard deviation</label>
                      <input type="number" class="form-control form-control-sm" id="input_sd" value="7">
                    </div>

                    <div class="mb-3">
                      <label for="input_LCL" class="form-label form-label-sm">LCL</label>
                      <input type="number" class="form-control form-control-sm" id="input_LCL" value="110">
                    </div>

                    <div class="mb-3">
                      <label for="input_UCL" class="form-label form-label-sm">UCL</label>
                      <input type="number" class="form-control form-control-sm" id="input_UCL" value="140">
                    </div>
                  </div>

                  <div class="text-end">
                    <div class="btn btn-success " id="btn_submit">submit</div>
                  </div>
                 
                </div>
              </div>
              <div class="col">
                <div class="box-show-chart">
                  <div id="histogramChart"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/plotly.min.js"></script>
  <script src="/js/math.js"></script>
  <script src="/scripts/chart2.js"></script>

</body>


</html>