<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>formula</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/datatables.min.css">
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar navbar-priva">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="logo" src="img/Priva Logo.png" alt="">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/simulation">Simulation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Ouality control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/xbar">X-Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sampling">Sampling data</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Body -->
  <div class="container py-4">
    <div class="row">
      <div class="col-12 my-5 mt-3">
        <h1 class=" text-center">Formula</h1>
      </div>
      <div class="col-12 col-lg-8 mx-auto mb-3 ">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">Quality control</h3>
            <ul>
              <li class="mb-3">
                <p class="fw-bold">การหาค่าเฉลี่ยของชุดข้อมูล (x̄)</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-mean.png" alt="">
                </div>
                <p>Σ คือ ผลรวมของสมาชิกในชุดข้อมูล</p>
                <p>x คือ ค่าข้อมูลแต่ละตัวในชุดข้อมูล</p>
                <p>n คือ จำนวนของชุดข้อมูล</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า Averange Moving Range (AMR)</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-amr.png" alt="">
                </div>
                <p>Σ คือ ผลรวมของสมาชิกในชุดข้อมูล</p>
                <p>x คือ ค่าข้อมูลแต่ละตัวในชุดข้อมูล</p>
                <p>w คือ ค่าความกว้างของชุดข้อมูล</p>
                <p>i คือ ลำดับของข้อมูล</p>
                <p>n คือ จำนวนของชุดข้อมูล</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่าเบี่ยงเบนมาตรฐานที่ใช้ในการหา PPK (SD)</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-sd.png" alt="">
                </div>
                <p>Σ คือ ผลรวมของสมาชิกในชุดข้อมูล</p>
                <p>x คือ ค่าข้อมูลแต่ละตัวในชุดข้อมูล</p>
                <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                <p>n คือ จำนวนของชุดข้อมูล</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่าเบี่ยงเบนมาตรฐานที่ใช้ในการหา CPK (SD)</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-sd-cpk.png" alt="">
                </div>
                <p>AMR คือ ค่า Averange Moving Range</p>
                <p>d คือ ค่าคงที่สำหรับการควบคุมกระบวนการ</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า PPL และ CPL </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-PPL.png" alt="">
                </div>

                <p>UCL คือ Upper Control Limit หรือขีดความสามารถสูงสุดในกระบวนการควบคุมคุณภาพ</p>
                <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                <p>SD คือ ค่าเบี่ยงเบนมาตรฐาน</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า PPU และ CPU </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-PPU.png" alt="">
                </div>
                <p>LCL คือ Lower Control Limit หรือขีดจำกัดต่ำสุดในกระบวนการควบคุมคุณภาพ</p>
                <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                <p>SD คือ ค่าเบี่ยงเบนมาตรฐาน</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า Process Potential (PP) และ Capability Process (CP)</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-PP.png" alt="">
                </div>
                <p>UCL คือ Upper Control Limit หรือขีดความสามารถสูงสุดในกระบวนการควบคุมคุณภาพ</p>
                <p>LCL คือ Lower Control Limit หรือขีดจำกัดต่ำสุดในกระบวนการควบคุมคุณภาพ</p>
                <p>SD คือ ค่าเบี่ยงเบนมาตรฐาน</p>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า Process Performance Index (PPK) </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-PPK.png" alt="">
                </div>
              </li>

              <li class="mb-3">
                <p class="fw-bold">การหาค่า Process Capability Index (CPK) </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-CPK.png" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mx-auto mb-3">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">X-Bar Chart</h3>

            <ul>
              <li class="mb-3">
                <p class="fw-bold">กรณีความกว้างของชุดข้อมูลเท่ากับ 1</p>
                <ul>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า UCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-ucl-x-1.png" alt="">
                    </div>
                    <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                    <p>MR-bar คือ ค่าเฉลี่ยของตัวประมาณค่าพิสัย (R)</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า CL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-cl-x-1.png" alt="">
                    </div>
                    <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า LCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-lcl-x-1.png" alt="">
                    </div>
                    <p>x̄ คือ ค่าเฉลี่ยของชุดข้อมูล</p>
                    <p>MR-bar คือ ค่าเฉลี่ยของตัวประมาณค่าพิสัย (R)</p>
                  </li>
                </ul>

              </li>
              <li class="mb-3">
                <p class="fw-bold">กรณีความกว้างของชุดข้อมูลเท่ากับ 2 ถึง 10</p>
                <ul>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า UCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-ucl-x-2.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                    <p>A2 คือ ค่าคงที่จากตาราง</p>
                    <p>R&#772 คือ ค่าเฉลี่ยของค่าพิสัย</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า CL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-cl-x-2.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า LCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-lcl-x-2.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                    <p>A2 คือ ค่าคงที่จากตาราง</p>
                    <p>R&#772 คือ ค่าเฉลี่ยของค่าพิสัย</p>
                  </li>
                </ul>

              </li>
              <li class="mb-3">
                <p class="fw-bold">กรณีความกว้างของชุดข้อมูลเท่ากับ 10 ถึง 25</p>
                <ul>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า UCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-ucl-x-3.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                    <p>A3 คือ ค่าคงที่จากตาราง</p>
                    <p>s&#772 คือ ค่าเฉลี่ยของค่าความเบี่ยงเบนมาตรฐาน</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า CL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-cl-x-3.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                  </li>
                  <li class="mb-3">
                    <p class="fw-bold">การหาค่า LCL</p>
                    <div class="text-center mb-2">
                      <img class="solution" src="/img/solution-lcl-x-3.png" alt="">
                    </div>
                    <p>x&#772;&#772 คือ ค่าเฉลี่ยของ x&#772</p>
                    <p>A3 คือ ค่าคงที่จากตาราง</p>
                    <p>s&#772 คือ ค่าเฉลี่ยของค่าความเบี่ยงเบนมาตรฐาน</p>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mx-auto mb-3">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">MR Chart</h3>

            <ul>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า MR-Bar </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-mr-bar.png" alt="">
                </div>
                <p>x คือ ค่าของชุดข้อมูล</p>
                <p>n คือ จำนวนของชุดข้อมูล</p>
                <p>i คือ ลำดับของชุดข้อมูล</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า UCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-mr-ucl.png" alt="">
                </div>
                <p>D4 คือ ค่าคงที่จากตาราง</p>
                <p>MR-bar คือ ค่าเฉลี่ยของตัวประมาณค่าพิสัย (R)</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า CL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-mr-cl.png" alt="">
                </div>
                <p>MR-bar คือ ค่าเฉลี่ยของตัวประมาณค่าพิสัย (R)</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า LCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-mr-lcl.png" alt="">
                </div>
                <p>D3 คือ ค่าคงที่จากตาราง</p>
                <p>MR-bar คือ ค่าเฉลี่ยของตัวประมาณค่าพิสัย (R)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mx-auto mb-3">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">R Chart</h3>

            <ul>
              <li class="mb-3">
                <p class="fw-bold">การหาค่าพิสัยของชุดข้อมูล (R) </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-r.png" alt="">
                </div>
                <p>x max คือ ค่าที่มากที่สุดของชุดข้อมูล</p>
                <p>x min คือ ค่าที่น้อยที่สุดของชุดข้อมูล</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า R-Bar </p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-r-bar.png" alt="">
                </div>
                <p>R คือ ค่าพิสัยของชุดข้อมูล</p>
                <p>n คือ จำนวนของชุดข้อมูล</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า UCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-r-ucl.png" alt="">
                </div>
                <p>D4 คือ ค่าคงที่จากตาราง</p>
                <p>R&#772 คือ ค่าเฉลี่ยของพิสัย (R)</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า CL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-r-cl.png" alt="">
                </div>
                <p>R&#772 คือ ค่าเฉลี่ยของพิสัย (R)</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า LCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-r-lcl.png" alt="">
                </div>
                <p>D3 คือ ค่าคงที่จากตาราง</p>
                <p>R&#772 คือ ค่าเฉลี่ยของพิสัย (R)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mx-auto mb-3">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">S Chart</h3>

            <ul>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า UCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-s-ucl.png" alt="">
                </div>
                <p>B4 คือ ค่าคงที่จากตาราง</p>
                <p>s&#772 คือ ค่าเฉลี่ยของค่าความเบี่ยงเบนมาตรฐาน</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า CL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-s-cl.png" alt="">
                </div>
                <p>s&#772 คือ ค่าเฉลี่ยของค่าความเบี่ยงเบนมาตรฐาน</p>
              </li>
              <li class="mb-3">
                <p class="fw-bold">การหาค่า LCL</p>
                <div class="text-center mb-2">
                  <img class="solution" src="/img/solution-s-lcl.png" alt="">
                </div>
                <p>B3 คือ ค่าคงที่จากตาราง</p>
                <p>s&#772 คือ ค่าเฉลี่ยของค่าความเบี่ยงเบนมาตรฐาน</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mx-auto mb-3">
        <div class="card shadow p-2">
          <div class="card-body">
            <h3 class="mb-3">Table Constant</h3>


            <div class="text-center px-2">
              <img class="w-100" src="/img/solution-table-of-d2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/datatables.min.js"></script>

</body>


</html>