<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>sampling data</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/datatables.min.css">
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar navbar-priva">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="logo" src="img/Priva Logo.png" alt="">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/simulation">Simulation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Ouality control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/xbar">X-Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sampling">Sampling data</a>
        </li>
      </ul>


    </div>
  </nav>

  <!-- Body -->
  <div class="container py-4">
    <div class="row my-5 mt-3">
      <div class="col">
        <h1 class="text-center">Priva Sampling Data</h1>
      </div>
    </div>

    <div class="row">
      <p>
        <button id="btn_toggle_send_QC" class="btn btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#Send_Data_QC" aria-expanded="false" aria-controls="Send_Data_QC">Data QC Chart</button>
        <button id="btn_toggle_send_Xbar" class="btn btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#Send_Data_Xbar" aria-expanded="false" aria-controls="Send_Data_Xbar">Data X-Bar
          Chart</button>
      </p>

      <div class="row">
        <div class="col-12">
          <div class="collapse multi-collapse show" id="Send_Data_QC">
            <div class="card shadow p-2 mb-3">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-12 col-xl-3">
                    <h2 class="mb-2">QC Chart</h2>

                    <div class="input-group">
                      <span class="input-group-text">Ref.</span>
                      <input type="text" class="form-control" placeholder="reference" id="input_ref">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                    <div class="box">
                      <h4 class="mb-3">One Data</h4>
                      <form action="" id="one_form">
                        <div class="mb-3">
                          <input type="number" class="form-control form-control-sm" name="one_data" id="input_one_data"
                            placeholder="sampling data">
                        </div>
                        <div class="text-end">
                          <button class="btn btn-sm btn-success">send</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="box">
                      <h4 class="mb-3">Random Data</h4>
                      <form action="" id="random_form">
                        <div class="mb-3 d-flex">
                          <div class="w-50 me-3">
                            <label for="input_random_min" class="form-label form-label-sm">Min</label>
                            <input type="number" class="form-control form-control-sm" name="random_min"
                              id="input_random_min" placeholder="minimum random data">
                          </div>
                          <div class="w-50">
                            <label for="input_random_max" class="form-label form-label-sm">Max</label>
                            <input type="number" class="form-control form-control-sm" name="random_max"
                              id="input_random_max" placeholder="maximum random data">
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="input_random_quantity" class="form-label form-label-sm">Quantity</label>
                          <input type="number" class="form-control form-control-sm" name="random_quantity"
                            id="input_random_quantity" min="0" max="100" placeholder="0 - 100">
                        </div>
                        <div class="text-end">
                          <button class="btn btn-sm btn-success" type="submit">send</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="collapse multi-collapse" id="Send_Data_Xbar">
            <div class="card shadow p-2 mb-3">
              <div class="card-body">

                <div class="row mb-3">
                  <div class="col-12 col-xl-3">
                    <h2 class="mb-2">X-Bar Chart</h2>

                    <div class="input-group">
                      <span class="input-group-text">Ref.</span>
                      <input type="text" class="form-control" placeholder="reference" id="input_ref_xbar">
                    </div>
                  </div>
                </div>

                <div class="row ">

                  <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                    <div class="box">
                      <h4 class="mb-3">One Data</h4>
                      <form action="" id="one_xbar_form">
                        <div class="mb-3">
                          <input type="number" class="form-control form-control-sm" name="one_data"
                            id="input_one_data_Xbar" placeholder="sampling data">
                        </div>
                        <div class="text-end">
                          <button class="btn btn-sm btn-success">send</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="box">
                      <h4 class="mb-3">Random Data</h4>
                      <form action="" id="random_xbar_form">
                        <div class="mb-3 d-flex">
                          <div class="w-50 me-3">
                            <label for="input_random_min_xbar" class="form-label form-label-sm">Min</label>
                            <input type="number" class="form-control form-control-sm" name="random_min"
                              id="input_random_min_xbar" placeholder="minimum random data">
                          </div>
                          <div class="w-50">
                            <label for="input_random_max_xbar" class="form-label form-label-sm">Max</label>
                            <input type="number" class="form-control form-control-sm" name="random_max"
                              id="input_random_max_xbar" placeholder="maximum random data">
                          </div>
                        </div>
                        <div class="mb-3 d-flex">
                          <div class="w-50 me-3">
                            <label for="input_random_range_xbar" class="form-label form-label-sm">Range</label>
                            <input type="number" class="form-control form-control-sm" name="random_range"
                              id="input_random_range_xbar" min="1" max="25" placeholder="1 - 25">
                          </div>
                          <div class="w-50">
                            <label for="input_random_quantity_xbar" class="form-label form-label-sm">Quantity</label>
                            <input type="number" class="form-control form-control-sm" name="random_quantity"
                              id="input_random_quantity_xbar" min="0" max="100" placeholder="0 - 100">
                          </div>
                        </div>


                        <div class="d-flex justify-content-between align-items-start">
                          <div class="text-secondary " style="font-size: 0.9rem;">
                            <p class="mb-1"> Range = 1 => MR Chart</p>
                            <p class="mb-1"> Range = 2 - 10 => R Chart</p>
                            <p class="mb-1"> Range = 11 - 25 => S Chart</p>
                          </div>
                          <button class="btn btn-sm btn-success" type="submit">send</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/datatables.min.js"></script>
  <script src="/js/chart.min.js"></script>
  <!-- <script src="/js/chart.min.js"></script> -->
  <script src="/js/math.js"></script>
  <script src="/js/swalalert2.js"></script>

  <!-- <script src="/scripts/test.js"></script> -->
  <!-- <script src="/scripts/table.js"></script> -->
  <script src="/scripts/sampling.js"></script>

</body>


</html>