@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --border-1: 3px solid #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-image: url(/img/Chalkboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 120px;
  /* width: 18%; */
  background-color: #ffffffce;
  border-radius: 2px;
  padding: 3px 10px;
}

/* .row-body .row,
.row-footer .row {
  padding: 1rem 0.75rem;
} */

.row {
  margin: 0;
  padding: 0;
}

.row-header {
  height: 70px;
  width: 100vw;
  font-family: "Carter One", cursive !important;
  text-align: center;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
}
.row-header .row,
.row-footer .row {
  height: 100%;
}

.row-header .row .col-border {
  padding: 1rem 0.75rem;
  border-right: var(--border-1);
  border-bottom: var(--border-1);
}
.row-header .row .col-border:last-child,
.row-body .row .col-border:last-child {
  border-right: 0;
}

.row-body {
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 70px;
  height: calc(100vh - 130px);
  position: relative;
  overflow: auto;
  padding-top: 15px;
  /* background-color: rgb(46, 88, 68); */
}
.row-body::-webkit-scrollbar {
  width: 0;
}

.row-body .row .col-border .items {
  height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.items .ip-content {
  width: 100%;
  font-size: 1.2rem;
}

.items .ip-color {
  border: 4px solid greenyellow;
}

.items .ip-color:disabled {
  border: none;
}

.row-footer {
  width: 100vw;
  height: 60px;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  border-top: var(--border-1);
}
.ref {
  width: 220px;
}

.modal-dialog {
  margin-top: calc(50vh - 200px);
}
